﻿<!DOCTYPE html>
<html ng-app="studio" ng-controller="appController">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>dcms :: studio</title>

		<link rel="stylesheet" href="../assets/css/angular-material.0.9.4-master-4279d70.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" />

	</head>
	<body layout="column" style="background-color:DDFFDD">
		<div layout="row" class="md-default-theme" flex>
			<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>Toolbar</h2>
					</div>
				</md-toolbar>
				<md-content layout="column" flex layout-padding>
					<div>The sidenav</div>
				</md-content>
			</md-sidenav>
			<div layout="column" flex>
				<md-toolbar class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="sidebar" title="sidebar" ng-click="toggleMenu('left')">
						<md-icon md-svg-icon="core:menu"></md-icon>
					</md-button>
					<h2 flex>dcms :: studio</h2>
					<md-button class="md-icon-button" aria-label="home" title="home" ng-click="goHome()">
						<md-icon md-svg-icon="core:home"></md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-show="hasUser()"
						aria-label="user profile" title="user profile" ng-click="goUserProfile()">
						<md-icon md-svg-icon="core:person"></md-icon>
					</md-button>
				</md-toolbar>
				<md-content flex>
					<div ui-view layout="column" layout-padding>
						<!-- ui-view placeholder -->
					</div>
				</md-content>
			</div>
		</div>

		<!-- Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

		<script src="../assets/js/angular-material.0.9.4-master-4279d70.js"></script>

		<!-- Javascript -->
		<script src="../common/atlas.module.js"></script>
		<script src="../common/titan.module.js"></script>
		<script src="../common/directives.module.js"></script>
		<script src="../common/dcmsData.module.js"></script>
		<script src="studio.module.js"></script>
	</body>
</html>
