<div layout="row" layout-align="center center">
    <h2>{{strategy.name || 'New strategy' }}</h2>
    <span flex></span>
    <md-button ng-click="cancel()">cancel</md-button>
</div>

<md-list>
    <md-list-item class="md-3-line" ng-repeat="step in strategy.steps" ng-click="viewDetails(step)">
        <md-icon class="md-avatar" md-svg-icon="core:status-{{step.status}}"></md-icon>
        <div class="md-list-item-text">
            <h3>{{ step.name }}</h3>
            <p>Created: {{step.creationDate | date: 'short' }} - Ended: {{ step.endDate | date: 'short' }}</p>
            <p>Assigned to: {{ step.performer.name }} - Status: {{ step.status }}</p>
        </div>
        <md-icon class="md-secondary" ng-click="viewActions($event, step)" aria-label="actions" md-svg-icon="core:more_horiz"></md-icon>
    </md-list-item>
</md-list>

<script type="text/ng-template" id="task.strategy.actions.html">
<md-dialog aria-label="Available actions">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-click="complete()">Complete</md-list-item>
      <md-list-item ng-click="closeDialog()">Cancel</md-list-item>
    </md-list>
  </md-dialog-content>
</md-dialog>
</script>
