<md-list>
    <md-list-item class="md-2-line" ng-repeat="strategy in data.strategies.items" ng-click="viewStrategy(strategy)">
        <md-icon class="md-avatar" md-svg-icon="core:status-{{strategy.status}}"></md-icon>
        <div class="md-list-item-text">
            <h3>{{strategy.name}}</h3>
            <p>Score: {{strategy.score}} - Status: {{strategy.status}}</p>
        </div>
        <md-icon class="md-secondary" ng-click="doSecondary($event)" aria-label="actions" md-svg-icon="core:more_vert"></md-icon>
    </md-list-item>
</md-list>
